<h2>
Are you sure you want to delete <%= @name %>?
</h2>
<br />
<form id='delete_server' method='POST' action=''>
  <input type='hidden' name='confirmed' value='true' />
  <input type='submit' value='Delete' />
</form>
