<h3>Login</h3>

<form id='login' method='POST' action=''>
  <input type='text' class='big' name='user' placeholder='Rackspace Username' autofocus />
  <input type='text' class='big' name='key'  placeholder='Rackspace API Key' />
  <input type='image' src='img/gear.png' alt='go' height=42 width=42 />
</form>
